*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.elemento {
    width: 30px;
    height: 30px;
    background-color: red;
}

.jugador {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(34, 110, 224);
    border-radius: 100%;
}

#puntosCont {
    position: absolute;
    color: white;
}

#juego {
    position: absolute;
    width: 1000px;
    height: 500px;
    background-color: black;
    left: 25%;
    top: 300px;
    border: solid white 2px;
}
button{
    position: absolute;
    left: 330px;
}
#contador{
    position: absolute;
    right: 1%;
    color: white;
}
#normasCont{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(109, 109, 109, 0.68);
    color: white;
    display: flex;
    justify-content: center;
}
#normas{
    background-color: grey;
    height: 100%;
    width: 33%;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
}
#juegoTerminado{
    display: none;
}